import { connect } from "react-redux"
import { AppState } from "root-reducer"
import { {{name}} } from "./component"

export const {{name}}Container = connect(
  (state: AppState) => ({}),
  {},
)({{name}})